footer.main-footer
 div.content
  div.logo
  div.buttons
   ul.table
    li.elem
     p Про нас
    li.elem
     a.link(href='#') Місія фонду
    li.elem
     a.link(href='#') Наші досягнення
   ul.table
    li.elem
     p Серіси
    li.elem
     a.link(href='#') Пожертвувати
    li.elem
     a.link(href='#') Адопція тваринки
   