header.main-header 
 div.logo
 nav.menu 
  a.menu-item(href='#') Про нас
  a.menu-item(href='#') Місія фонду
  a.menu-item(href='#') Команда фонду
  a.menu-item(href='#') Наші досягнення
 a.donate(href='#') Пожертвувати