@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
$orange:#F2994A;
$red:#FE0000;
$white:#FFFF;
$main-font-color:#2E4960;
$footer-color:#2E4960;
$header-height:95px;
$footer-height:190px;
$content-height:994px;
$header-color:#FF9F00;

$p-font-size:18px;
$p-font-size-large:20px;
$p-font-size-small:16px;
$h1-font-size:72px;
$h2-font-size:48px;
$h3-font-size:24px;

$margin:50px;
$margin-left:40px;
$gap:30px;



body{
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin-top: auto;
}
   
h2{
    font-size: $h2-font-size;
}

header{
    height: $header-height;
    color: $main-font-color;
    background-color: $header-color;
    
}
footer{
    height: $footer-height;
    background-color: $footer-color;
    color: $white;
    margin-top: auto;
}

main{
    display: flex;
    justify-content: center;
    color: $main-font-color;
    
}

